<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Crear Reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Mostrar detalles del viaje seleccionado si selectedTrip no es nulo -->
  <ion-card *ngIf="selectedTrip">
    <ion-card-header>
      <ion-card-title>{{ selectedTrip.car?.sectorMovilizacion }}</ion-card-title>
      <ion-card-subtitle>{{ selectedTrip.fecha | date: 'mediumDate' }} - {{ selectedTrip.fecha | date: 'shortTime' }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Conductor:</strong> {{ selectedTrip.user?.name }}</p>
      <p><strong>Asientos Disponibles:</strong> {{ selectedTrip.seats - selectedTrip.reservedSeats }}</p>
      <p><strong>Marca del Auto:</strong> {{ selectedTrip.car?.marca }}</p>
      <p><strong>Modelo del Auto:</strong> {{ selectedTrip.car?.modelo }}</p>
      <p><strong>Color:</strong> {{ selectedTrip.car?.color }}</p>
      <p><strong>Patente:</strong> {{ selectedTrip.car?.patente }}</p>
      <p><strong>Valor por Asiento:</strong> ${{ selectedTrip.car?.valor }}</p>
    </ion-card-content>
  </ion-card>

  <!-- Formulario para crear una nueva reserva -->
  <form [formGroup]="reservationForm" (ngSubmit)="submitReservation()">
    <!-- Número de Asientos -->
    <ion-item>
      <ion-label position="floating" aria-label="Número de Asientos">Número de Asientos</ion-label>
      <ion-input type="number" formControlName="seats"></ion-input>
    </ion-item>
    <ion-item *ngIf="reservationForm.get('seats').invalid && reservationForm.get('seats').touched">
      <ion-text color="danger">Número de asientos es requerido.</ion-text>
    </ion-item>

    <ion-button type="submit" expand="full" [disabled]="!reservationForm.valid">Crear Viaje</ion-button>
  </form>

  <ion-button color="medium" expand="full" (click)="closeModal()">Cancelar</ion-button>
</ion-content>
