<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="usuario">{{ usuario.tipo + ' ' + usuario.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="usuario; else noUserData">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ usuario.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Email: {{ usuario.email }}</p>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #noUserData>
    <ion-item>
      <ion-label>No hay datos de usuario disponibles.</ion-label>
    </ion-item>
  </ng-template>
</ion-content>
